* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;  
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    transition: 3s ease;
}

img {
    display: none;
    margin-top: -100px;
    width: 400px;
    height: 300px;     
}

img:hover {
    transform: scale(1.10);
}

button {
    margin-left: 46%; 
    margin-top: 5%; 
    width: 100px;
    height: 50px;
    border-radius: 50px;
    background-color: red;
    color: black;
}